<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="79f379">  <td>19/07/13 16:52:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookLibraryTest.addAndDeleteOneBook()[pri:0, instance:libraryAPI.BookLibraryTest@42dafa95]">addAndDeleteOneBook</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/07/13 16:52:05</td>   <td>3022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookLibraryTest.addBooksAndDelete(java.lang.String, java.lang.String)[pri:0, instance:libraryAPI.BookLibraryTest@42dafa95]">addBooksAndDelete</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/07/13 16:52:06</td>   <td>3819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookLibraryTest.addBooksAndDelete(java.lang.String, java.lang.String)[pri:0, instance:libraryAPI.BookLibraryTest@42dafa95]">addBooksAndDelete</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/07/13 16:52:07</td>   <td>4609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookLibraryTest.addBooksAndDelete(java.lang.String, java.lang.String)[pri:0, instance:libraryAPI.BookLibraryTest@42dafa95]">addBooksAndDelete</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="b6bec2">  <td>19/07/13 16:52:02</td>   <td>-31</td> <td>&nbsp;</td><td title="&gt;&gt;TestBase.getData()[pri:0, instance:libraryAPI.BookLibraryTest@42dafa95]">&gt;&gt;getData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
</table>
