<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7cbad">  <td>19/07/14 17:37:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookLibraryTest.addAndDeleteOneBook()[pri:0, instance:libraryAPI.BookLibraryTest@4f83df68]">addAndDeleteOneBook</td> 
  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/07/14 17:37:53</td>   <td>7240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlaceAPITest.addAndDeletePlace()[pri:0, instance:googleAPITestCases.GooglePlaceAPITest@6cf0e0ba]">addAndDeletePlace</td> 
  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/07/14 17:37:50</td>   <td>4693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookLibraryTest.addBooksAndDelete(java.lang.String, java.lang.String)[pri:0, instance:libraryAPI.BookLibraryTest@4f83df68]">addBooksAndDelete</td> 
  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/07/14 17:37:51</td>   <td>5508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookLibraryTest.addBooksAndDelete(java.lang.String, java.lang.String)[pri:0, instance:libraryAPI.BookLibraryTest@4f83df68]">addBooksAndDelete</td> 
  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/07/14 17:37:52</td>   <td>6369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookLibraryTest.addBooksAndDelete(java.lang.String, java.lang.String)[pri:0, instance:libraryAPI.BookLibraryTest@4f83df68]">addBooksAndDelete</td> 
  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/07/14 17:37:54</td>   <td>8147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlaceAPITest.addPlaceAPI()[pri:0, instance:googleAPITestCases.GooglePlaceAPITest@6cf0e0ba]">addPlaceAPI</td> 
  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/07/14 17:37:57</td>   <td>11175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TwitterAPITest.deleteTweet()[pri:0, instance:twitterAPI.TwitterAPITest@7d8995e]">deleteTweet</td> 
  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/07/14 17:37:54</td>   <td>8628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlaceAPITest.extractingNames()[pri:0, instance:googleAPITestCases.GooglePlaceAPITest@6cf0e0ba]">extractingNames</td> 
  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/07/14 17:37:55</td>   <td>9950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlaceAPITest.getPlace()[pri:0, instance:googleAPITestCases.GooglePlaceAPITest@6cf0e0ba]">getPlace</td> 
  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/07/14 17:37:58</td>   <td>12025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TwitterAPITest.getTweet()[pri:0, instance:twitterAPI.TwitterAPITest@7d8995e]">getTweet</td> 
  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="8cc0ba">  <td>19/07/14 17:37:56</td>   <td>10715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GooglePlaceAPITest.postPlaceXML()[pri:0, instance:googleAPITestCases.GooglePlaceAPITest@6cf0e0ba]">postPlaceXML</td> 
  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/07/14 17:37:46</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:libraryAPI.BookLibraryTest@4f83df68]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/07/14 17:37:50</td>   <td>4693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:libraryAPI.BookLibraryTest@4f83df68]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/07/14 17:37:51</td>   <td>5508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:libraryAPI.BookLibraryTest@4f83df68]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/07/14 17:37:52</td>   <td>6368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:libraryAPI.BookLibraryTest@4f83df68]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/07/14 17:37:53</td>   <td>7240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:googleAPITestCases.GooglePlaceAPITest@6cf0e0ba]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/07/14 17:37:54</td>   <td>8147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:googleAPITestCases.GooglePlaceAPITest@6cf0e0ba]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/07/14 17:37:54</td>   <td>8628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:googleAPITestCases.GooglePlaceAPITest@6cf0e0ba]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/07/14 17:37:55</td>   <td>9950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:googleAPITestCases.GooglePlaceAPITest@6cf0e0ba]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/07/14 17:37:56</td>   <td>10715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:googleAPITestCases.GooglePlaceAPITest@6cf0e0ba]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/07/14 17:37:57</td>   <td>11175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:twitterAPI.TwitterAPITest@7d8995e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1083021083</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>19/07/14 17:37:58</td>   <td>12025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:twitterAPI.TwitterAPITest@7d8995e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1083021083</td>   <td></td> </tr>
</table>
